<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log_path" value="/home/work/audit-cut-serivce/audit-cut-serivce" />
    <property name="log_format" value="%d{yyyy-MM-dd HH:mm:ss} | %5p | [%t] | %c{1}:%M:%L | %m%n" />
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${log_format}</pattern>
        </encoder>
    </appender>
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log_path}.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_path}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder charset="UTF-8">
            <pattern>${log_format}</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="stdout" />
        <appender-ref ref="RollingFile"/>
    </root>
    <logger name="Application_ERROR"/>
    <logger name="org" level="ERROR"/>
    <logger name="com.totoro.picture" level="DEBUG"/>
</configuration>